Repository alvaro-moron/twitch-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(config): some variables created taht come from the .env file
  nuxt.config.ts
  nuxt.runtime.d.ts
Due: eslint --fix, prettier --write

feat(services): class that control the service to the twitch api
  services/ConnectWithTwitchApi.ts
Due: eslint --fix, prettier --write

feat(models): create custom class for errors
  models/Errors.ts
Due: eslint --fix, prettier --write

chore(config): added models type in the commitlint config file
  commitlint.config.ts
Due: eslint --fix, prettier --write

feat(config): adding sass and cleaning app file
  app.vue
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(assets): added new mixin for responsive, reset css and some css variables
  assets/styles/mixin.scss
  assets/styles/reset.css
  assets/styles/variables.css
Due: prettier --write

feat(svgs): added some svg images
  svgs/crown24.vue
  svgs/person24.vue
  svgs/search24.vue
  svgs/threeDots24.vue
Due: eslint --fix, prettier --write

feat(config): added new scope to the commitlint
  commitlint.config.ts
Due: eslint --fix, prettier --write

feat(assets): added new image of the logo
  assets/images/twitch-logo.webp
Due: none

feat(layout): added default layout
  layouts/default.vue
Due: eslint --fix, prettier --write

feat(mocks): added mock with data of the navbar
  mocks/navbar.json
Due: prettier --write

feat(services): some code modified
  services/ConnectWithTwitchApi.ts
Due: eslint --fix, prettier --write

feat(components): added navbar component and his internal components
  components/layouts/navbar/MainNavbar.vue
  components/layouts/navbar/searcher.vue
  components/ui/MainButton.vue
Due: eslint --fix, prettier --write

feat(config): added new module of images by nuxt
  nuxt.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(styles): new css variables added
  assets/styles/variables.css
Due: prettier --write

feat(components): change some code using properties of nuxt now
  components/layouts/navbar/MainNavbar.vue
  components/layouts/navbar/searcher.vue
Due: eslint --fix, prettier --write

feat(components): lateral menu added
  components/layouts/lateralMenu/MainMenu.vue
  components/layouts/lateralMenu/PopularChannel.vue
Due: eslint --fix, prettier --write

feat(interfaces): interfaces needed to the lateral menu added
  interfaces/channels.ts
  interfaces/streams.ts
Due: eslint --fix, prettier --write

feat(layout): lateral menu added to the default layout
  layouts/default.vue
Due: eslint --fix, prettier --write

feat(mocks): mocks updated
  mocks/lateral-menu.json
  mocks/navbar.json
Due: prettier --write

feat(components): delete console logs
  components/layouts/lateralMenu/MainMenu.vue
  components/layouts/lateralMenu/PopularChannel.vue
Due: eslint --fix, prettier --write

feat(assets): changed logo
  assets/images/twitch-logo-blue.webp
Due: none

feat(assets): new modifications in the reset and variables files
  assets/styles/reset.css
  assets/styles/variables.css
Due: prettier --write

feat(components): some modifications in the components of the lateral menu
  components/layouts/lateralMenu/MainMenu.vue
  components/layouts/lateralMenu/PopularChannel.vue
Due: eslint --fix, prettier --write

feat(components): some modifications in the main component of the navbar
  components/layouts/navbar/MainNavbar.vue
Due: eslint --fix, prettier --write

feat(components): components used in the home to draw the streams and categories
  components/ui/cards/cardCategorie.vue
  components/ui/cards/cardStream.vue
  components/ui/grids/listCategories.vue
  components/ui/grids/listStreams.vue
Due: eslint --fix, prettier --write

feat(interfaces): some interfaces modified and one about categories added
  interfaces/categories.ts
  interfaces/channels.ts
  interfaces/streams.ts
Due: eslint --fix, prettier --write

feat(layout): default layout
  layouts/default.vue
Due: eslint --fix, prettier --write

feat(pages): home page
  pages/index.vue
Due: eslint --fix, prettier --write

feat(mocks): mock of the home
  mocks/home.json
Due: prettier --write

feat(svgs): arrow down svg
  svgs/arrowDown24.vue
Due: eslint --fix, prettier --write

feat(utils): function to define dimensions of the preview iamge of the stream
  utils/formatTwitchPreview.ts
Due: eslint --fix, prettier --write

feat(components): component of the live chat
  components/layouts/chat/MainChat.vue
Due: eslint --fix, prettier --write

feat(components): components with the data of the stream and channel
  components/ui/stream/moreBlock.vue
  components/ui/stream/titleBlock.vue
Due: eslint --fix, prettier --write

feat(interfaces): interfaces about the followers and users
  interfaces/Users.ts
  interfaces/followers.ts
Due: eslint --fix, prettier --write

feat(layout): custom layout for the detail stream page
  layouts/stream.vue
Due: eslint --fix, prettier --write

feat(mocks): mock of the detail stream page
  mocks/stream.json
Due: prettier --write

feat(pages): page of the detail stream
  pages/[name].vue
Due: eslint --fix, prettier --write

feat(svgs): some svgs needed in the detail stream page
  svgs/download24.vue
  svgs/favorite24.vue
  svgs/instagram24.vue
  svgs/star24.vue
  svgs/tiktok24.vue
  svgs/twitter24.vue
  svgs/youtube24.vue
Due: eslint --fix, prettier --write

feat(utils): utility that calculates live hours
  utils/caclLiveTime.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{js,ts,vue,json,css,scss,md}
